flows/HC_vw_triggerLead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ENVIO_EMAIL</name>
        <label>ENVIO EMAIL</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Lead.HC_emailPendienteDocumentacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>SUBJECTPENDIENTEDOCUMENTACION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>[Columbia Seguros] - Se encuentra Pendiente de Documentación</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ESTADO_LEAD</name>
        <label>ESTADO LEAD</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ESTADO_PENDIENTE_DOCUMENTACION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente Documentación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente Documentación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ENVIO_EMAIL</targetReference>
            </connector>
            <label>ESTADO PENDIENTE DOCUMENTACION</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HC_vw_triggerLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HC_vw_triggerLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ESTADO_LEAD</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TEMPLATEEMAILPENDIENTEDOCUMENTACION</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>HOLA MUY BUENAS TARDES</text>
    </textTemplates>
    <variables>
        <name>EMAILSCLIENTEPOTENCIALSENDEMAIL</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
