flows/Pre_Enroll.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Enroll patients in care programs without recording consent.</description>
    <environments>Default</environments>
    <interviewLabel>$Label.CareProgramEnrollment.ProgramEnrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre-Enroll</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ConsentFormsListView</name>
        <label>Enrollment Consent Forms</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ListViewConsentForms</name>
            <extensionName>healthcloud:consentFormListView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>careprogramId</name>
                <value>
                    <elementReference>careProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enrolleeId</name>
                <value>
                    <elementReference>enrolleeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>patientId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewProductsAndProviders</name>
        <label>Review Products and Providers</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConsentFormsListView</targetReference>
        </connector>
        <fields>
            <name>ProductsAndProvidersReview</name>
            <extensionName>healthcloud:productsProvidersReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>programId</name>
                <value>
                    <elementReference>careProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>patientId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProviders</name>
                <value>
                    <elementReference>selectedProviders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>careProgramProductList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>enrolleeId</assignToReference>
                <name>enrolleeId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectCareProgram</name>
        <label>Select Care Program</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectProductServices</targetReference>
        </connector>
        <fields>
            <name>CareProgramSelector</name>
            <extensionName>healthcloud:careProgramSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>careProgramId</name>
                <value>
                    <elementReference>careProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>careProgramId</assignToReference>
                <name>careProgramId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectProductServices</name>
        <label>Select Products and Services</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectProviders</targetReference>
        </connector>
        <fields>
            <name>CareProgramProductSelection</name>
            <extensionName>healthcloud:careProgramProductSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>careProgramId</name>
                <value>
                    <elementReference>careProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>careProgramProductList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>careProgramProductList</assignToReference>
                <name>selectedProducts</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectProviders</name>
        <label>Select Providers</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReviewProductsAndProviders</targetReference>
        </connector>
        <fields>
            <name>CareProgramProviderSelection</name>
            <extensionName>healthcloud:careProgramProviderSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>careProgramProductList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProviders</name>
                <value>
                    <elementReference>selectedProviders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProviders</assignToReference>
                <name>selectedProviders</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>healthcloud__ProgramEnrollment</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectCareProgram</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>careProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>careProgramProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgramProduct</objectType>
    </variables>
    <variables>
        <name>enrolleeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProviders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
